# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries
- Create a table
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy

|Data Science Tools|
|----------------------|
|Rstudio|
|PyCharm|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python
1+1

In [3]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
juhasfun